main .productos .productoLaura img, main .productos .productoCarla img, main .productos .productoWendy img, main .productos .productoMeryl img, main .productos .productoPamela img, main .productos .productoSofia img, main .productos .productoPaddy img, main .productos .productoTatiana img, main .productos .ProductoDenise img, main .productos .productoAnna img, main .productos .productoMilva img, main .productos .productoOna img, main .productos .ProductoAurora img, main .productos .productoElsa img, main .productos .productoCharry img, main .productos .productoMagui img, .main_404 .productos .productoLaura img, .main_404 .productos .productoCarla img, .main_404 .productos .productoWendy img, .main_404 .productos .productoMeryl img {
  width: 35vh;
  height: 50vh; }

main .cajaFlyers .categoriaFlyer p, main .productos .productoLaura p, main .productos .productoCarla p, main .productos .productoWendy p, main .productos .productoMeryl p, main .productos .productoPamela p, main .productos .productoSofia p, main .productos .productoPaddy p, main .productos .productoTatiana p, main .productos .ProductoDenise p, main .productos .productoAnna p, main .productos .productoMilva p, main .productos .productoOna p, main .productos .ProductoAurora p, main .productos .productoElsa p, main .productos .productoCharry p, main .productos .productoMagui p, .sucursal p, .dir, .main_404 .productos .productoLaura p, .main_404 .productos .productoCarla p, .main_404 .productos .productoWendy p, .main_404 .productos .productoMeryl p {
  text-align: center;
  color: #708D81;
  font-family: "Staatliches", cursive;
  font-size: x-large; }

.footer__paragraph {
  color: #001427;
  font-size: medium;
  font-family: "Staatliches", cursive; }

.quienesSomos {
  font-family: "Satisfy", cursive;
  font-size: xx-large;
  color: #f8f9fa; }

main .slogan {
  font-family: "Shadows Into Light", cursive;
  font-size: 400%;
  text-align: center;
  margin: 2rem;
  color: black; }
  main .slogan :hover {
    color: brown;
    transition: 2s; }

main .carousel-inner {
  margin: 3rem;
  padding: 1rem; }

main .cajaFlyers {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1rem;
  height: 15rem;
  width: 100%; }
  main .cajaFlyers .categoriaFlyer {
    text-align: center; }

header .container-fluid {
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #f8f9fa; }

header .imagenNav img {
  width: 10rem; }

header .botonNav {
  font-size: x-large;
  font-family: "Staatliches", cursive; }

header .nav-link {
  color: #8D0801;
  margin: 1rem; }
  header .nav-link:hover {
    color: #BF0603;
    transform: scale(1.03);
    transition: 0.5s; }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem;
  background-color: #f8f9fa; }
  .footer__paragraph {
    text-align: center;
    margin: 0.3rem; }
  .footer__ul {
    padding: 0.5rem; }
  .footer li {
    display: inline-block;
    padding: 0 0.5rem 0 0.5rem;
    margin: 5px;
    font-size: 3rem;
    font-weight: bold;
    color: #8D0801; }
    .footer li a .link {
      text-decoration: none; }
    .footer li :hover {
      text-decoration: none;
      transform: scale(1.5, 1.5);
      transition: 0.5s; }

main h2 .slogan {
  font-family: 'Shadows Into Light', cursive;
  font-size: 100%;
  text-align: center;
  margin: 2rem;
  color: black; }

main .productos {
  margin: 60px;
  margin-bottom: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 50px;
  grid-column-gap: 50px;
  grid-template-areas: "productoLaura productoCarla productoWendy productoMeryl" "productoPamela productoSofia productoPaddy productoTatiana" "ProductoDenise productoAnna productoMilva productoOna" "ProductoAurora productoElsa productoCharry productoMagui"; }
  main .productos .productoLaura {
    grid-area: productoLaura; }
    main .productos .productoLaura:hover {
      transform: scale(1.05);
      transition: 1s; }
  main .productos .productoCarla {
    grid-area: productoCarla; }
    main .productos .productoCarla:hover {
      transform: scale(1.05);
      transition: 1s; }
  main .productos .productoWendy {
    grid-area: productoWendy; }
    main .productos .productoWendy:hover {
      transform: scale(1.05);
      transition: 1s; }
  main .productos .productoMeryl {
    grid-area: productoMeryl; }
    main .productos .productoMeryl:hover {
      transform: scale(1.05);
      transition: 1s; }
  main .productos .productoPamela {
    grid-area: productoPamela; }
    main .productos .productoPamela:hover {
      transform: scale(1.05);
      transition: 1s; }
  main .productos .productoSofia {
    grid-area: productoSofia; }
    main .productos .productoSofia:hover {
      transform: scale(1.05);
      transition: 1s; }
  main .productos .productoPaddy {
    grid-area: productoPaddy; }
    main .productos .productoPaddy:hover {
      transform: scale(1.05);
      transition: 1s; }
  main .productos .productoTatiana {
    grid-area: productoTatiana; }
    main .productos .productoTatiana:hover {
      transform: scale(1.05);
      transition: 1s; }
  main .productos .ProductoDenise {
    grid-area: ProductoDenise; }
    main .productos .ProductoDenise:hover {
      transform: scale(1.05);
      transition: 1s; }
  main .productos .productoAnna {
    grid-area: productoAnna; }
    main .productos .productoAnna:hover {
      transform: scale(1.05);
      transition: 1s; }
  main .productos .productoMilva {
    grid-area: productoMilva; }
    main .productos .productoMilva:hover {
      transform: scale(1.05);
      transition: 1s; }
  main .productos .productoOna {
    grid-area: productoOna; }
    main .productos .productoOna:hover {
      transform: scale(1.05);
      transition: 1s; }
  main .productos .ProductoAurora {
    grid-area: ProductoAurora; }
    main .productos .ProductoAurora:hover {
      transform: scale(1.05);
      transition: 1s; }
  main .productos .productoElsa {
    grid-area: productoElsa; }
    main .productos .productoElsa:hover {
      transform: scale(1.05);
      transition: 1s; }
  main .productos .productoCharry {
    grid-area: productoCharry; }
    main .productos .productoCharry:hover {
      transform: scale(1.05);
      transition: 1s; }
  main .productos .productoMagui {
    grid-area: productoMagui; }
    main .productos .productoMagui:hover {
      transform: scale(1.05);
      transition: 1s; }

.contacto {
  width: 60%;
  height: 100%;
  justify-content: space-around; }
  .contacto .consulta {
    height: 20%vh; }

.consulta {
  height: 20%vh; }

.sucursal {
  text-align: center; }
  .sucursal .imgSucursales {
    height: 18rem;
    width: 22rem; }

.fondo {
  background-color: #8D0801; }

.quienesSomos {
  text-align: inherit;
  padding: 1rem; }

/* medias para Footer */
@media (max-width: 768px) {
  footer p {
    display: none; } }

/* medias para Index */
@media (max-width: 768px) {
  main .slogan {
    font-size: 7vh; }
  main .cajaFlyers {
    display: none; } }

@media (max-width: 438px) {
  main .slogan {
    font-size: 5vh; } }

/* medias para Catalogo */
@media (max-width: 438px) {
  main .productos {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-areas: "productoLaura" "productoCarla" "productoWendy" "productoPamela" "productoSofia" "productoPaddy" "ProductoDenise" "productoAnna" "productoMilva" "ProductoAurora" "productoElsa" "productoCharry" "productoMeryl" "productoTatiana" "productoOna" "productoMagui"; } }

@media (max-width: 768px) {
  main .productos {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    grid-template-areas: "productoLaura productoCarla" "productoWendy productoPamela" "productoSofia productoPaddy" "ProductoDenise productoAnna" "productoMilva ProductoAurora" "productoElsa productoCharry" "productoMeryl productoTatiana" "productoOna productoMagui"; } }

/* medias para Sucursales */
@media (max-width: 768px) {
  main .imgSucursales {
    display: none; } }

/* medias para quienes_somos */
@media (max-width: 438px) {
  .quienesSomos {
    font-size: large; } }

/* medias para error_404 */
@media (max-width: 438px) {
  .main_404 .productos {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "productoLaura" "productoCarla" "productoWendy" "productoMeryl"; } }

.main_404 .error {
  text-align: center;
  margin: 2rem;
  color: black; }

.main_404 p {
  text-align: center;
  margin: 1rem;
  color: black; }

.main_404 .productos {
  margin: 60px;
  margin-bottom: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 50px;
  grid-column-gap: 20px;
  grid-template-areas: "productoLaura productoCarla"  "productoWendy productoMeryl"; }
  .main_404 .productos .productoLaura {
    grid-area: productoLaura; }
    .main_404 .productos .productoLaura:hover {
      transform: scale(1.05);
      transition: 1s; }
  .main_404 .productos .productoCarla {
    grid-area: productoCarla; }
    .main_404 .productos .productoCarla:hover {
      transform: scale(1.05);
      transition: 1s; }
  .main_404 .productos .productoWendy {
    grid-area: productoWendy; }
    .main_404 .productos .productoWendy:hover {
      transform: scale(1.05);
      transition: 1s; }
  .main_404 .productos .productoMeryl {
    grid-area: productoMeryl; }
    .main_404 .productos .productoMeryl:hover {
      transform: scale(1.05);
      transition: 1s; }
