main .productos .productoLaura img, main .productos .productoCarla img, main .productos .productoWendy img, main .productos .productoMeryl img, main .productos .productoPamela img, main .productos .productoSofia img, main .productos .productoPaddy img, main .productos .productoTatiana img, main .productos .ProductoDenise img, main .productos .productoAnna img, main .productos .productoMilva img, main .productos .productoOna img, main .productos .ProductoAurora img, main .productos .productoElsa img, main .productos .productoCharry img, main .productos .productoMagui img {
  width: 35vh;
  height: 50vh; }

main .productos .productoLaura p, main .productos .productoCarla p, main .productos .productoWendy p, main .productos .productoMeryl p, main .productos .productoPamela p, main .productos .productoSofia p, main .productos .productoPaddy p, main .productos .productoTatiana p, main .productos .ProductoDenise p, main .productos .productoAnna p, main .productos .productoMilva p, main .productos .productoOna p, main .productos .ProductoAurora p, main .productos .productoElsa p, main .productos .productoCharry p, main .productos .productoMagui p, .dir {
  text-align: center;
  color: #708D81;
  font-family: "Staatliches", cursive;
  font-size: x-large; }

footer p {
  color: #001427;
  font-size: medium;
  font-family: "Staatliches", cursive; }

.quienesSomos {
  font-family: "Satisfy", cursive;
  font-size: xx-large;
  color: #f8f9fa; }

main .cajaFlyers .cuotas, main .cajaFlyers .envio, main .cajaFlyers .descuento {
  background-position: center;
  background-size: cover;
  width: 25rem; }

main .slogan {
  font-family: "Shadows Into Light", cursive;
  font-size: 400%;
  text-align: center;
  margin: 2rem;
  color: black; }
  main .slogan :hover {
    color: brown;
    transition: 2s; }

main .carousel-inner {
  height: 30rem;
  margin: 3rem;
  padding: 1rem; }

main .cajaFlyers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 20rem;
  width: 100%; }
  main .cajaFlyers .cuotas {
    background-image: url(https://res.cloudinary.com/barbyeve/image/upload/v1658327884/TiendaDeTaconesCatalogo/2_klsgvi.png); }
    main .cajaFlyers .cuotas :hover {
      transform: scale(1.07);
      transition: 1s; }
    main .cajaFlyers .cuotas div p {
      margin: 3rem; }
  main .cajaFlyers .envio {
    background-image: url(https://res.cloudinary.com/barbyeve/image/upload/v1658327886/TiendaDeTaconesCatalogo/3_xcx2wc.png); }
    main .cajaFlyers .envio :hover {
      transform: scale(1.07);
      transition: 1s; }
    main .cajaFlyers .envio div p {
      margin: 3rem; }
  main .cajaFlyers .descuento {
    background-image: url(https://res.cloudinary.com/barbyeve/image/upload/v1658327994/TiendaDeTaconesCatalogo/1_xobx7l.png); }
    main .cajaFlyers .descuento :hover {
      transform: scale(1.07);
      transition: 1s; }
    main .cajaFlyers .descuento div p {
      margin: 3rem; }

header .container-fluid {
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #f8f9fa; }

header .imagenNav img {
  width: 13rem; }

header .botonNav {
  font-size: x-large;
  font-family: "Staatliches", cursive; }

header .nav-link {
  color: #8D0801;
  margin: 1rem; }
  header .nav-link:hover {
    color: #BF0603;
    transform: scale(1.03);
    transition: 0.5s; }

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #f8f9fa; }
  footer p {
    text-align: center;
    margin: 0.3rem; }
  footer ul {
    padding: 0.5rem; }
  footer li {
    display: inline-block;
    padding: 0 0.5rem 0 0.5rem;
    margin: 5px;
    font-size: 3rem;
    font-weight: bold;
    color: #8D0801; }
    footer li a .link {
      text-decoration: none; }
    footer li :hover {
      text-decoration: none;
      transform: scale(1.5, 1.5);
      transition: 0.5s; }

main h2 .slogan {
  font-family: 'Shadows Into Light', cursive;
  font-size: 100%;
  text-align: center;
  margin: 2rem;
  color: black; }

main .productos {
  margin: 60px;
  margin-bottom: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 50px;
  grid-column-gap: 50px;
  grid-template-areas: "productoLaura productoCarla productoWendy productoMeryl" "productoPamela productoSofia productoPaddy productoTatiana" "ProductoDenise productoAnna productoMilva productoOna" "ProductoAurora productoElsa productoCharry productoMagui"; }
  main .productos .productoLaura {
    grid-area: productoLaura; }
    main .productos .productoLaura:hover {
      transform: scale(1.05);
      transition: 1s; }
  main .productos .productoCarla {
    grid-area: productoCarla; }
    main .productos .productoCarla:hover {
      transform: scale(1.05);
      transition: 1s; }
  main .productos .productoWendy {
    grid-area: productoWendy; }
    main .productos .productoWendy:hover {
      transform: scale(1.05);
      transition: 1s; }
  main .productos .productoMeryl {
    grid-area: productoMeryl; }
    main .productos .productoMeryl:hover {
      transform: scale(1.05);
      transition: 1s; }
  main .productos .productoPamela {
    grid-area: productoPamela; }
    main .productos .productoPamela:hover {
      transform: scale(1.05);
      transition: 1s; }
  main .productos .productoSofia {
    grid-area: productoSofia; }
    main .productos .productoSofia:hover {
      transform: scale(1.05);
      transition: 1s; }
  main .productos .productoPaddy {
    grid-area: productoPaddy; }
    main .productos .productoPaddy:hover {
      transform: scale(1.05);
      transition: 1s; }
  main .productos .productoTatiana {
    grid-area: productoTatiana; }
    main .productos .productoTatiana:hover {
      transform: scale(1.05);
      transition: 1s; }
  main .productos .ProductoDenise {
    grid-area: ProductoDenise; }
    main .productos .ProductoDenise:hover {
      transform: scale(1.05);
      transition: 1s; }
  main .productos .productoAnna {
    grid-area: productoAnna; }
    main .productos .productoAnna:hover {
      transform: scale(1.05);
      transition: 1s; }
  main .productos .productoMilva {
    grid-area: productoMilva; }
    main .productos .productoMilva:hover {
      transform: scale(1.05);
      transition: 1s; }
  main .productos .productoOna {
    grid-area: productoOna; }
    main .productos .productoOna:hover {
      transform: scale(1.05);
      transition: 1s; }
  main .productos .ProductoAurora {
    grid-area: ProductoAurora; }
    main .productos .ProductoAurora:hover {
      transform: scale(1.05);
      transition: 1s; }
  main .productos .productoElsa {
    grid-area: productoElsa; }
    main .productos .productoElsa:hover {
      transform: scale(1.05);
      transition: 1s; }
  main .productos .productoCharry {
    grid-area: productoCharry; }
    main .productos .productoCharry:hover {
      transform: scale(1.05);
      transition: 1s; }
  main .productos .productoMagui {
    grid-area: productoMagui; }
    main .productos .productoMagui:hover {
      transform: scale(1.05);
      transition: 1s; }

.contacto {
  width: 60%;
  height: 100%;
  justify-content: space-around; }
  .contacto .consulta {
    height: 20%vh; }

.consulta {
  height: 20%vh; }

.sucursal .imgSucursales {
  height: 20rem;
  width: 20rem; }

.fondo {
  background-color: #8D0801; }

.quienesSomos {
  text-align: center;
  padding: 3rem; }

/* medias para Footer */
@media (max-width: 768px) {
  footer p {
    display: none; } }

/* medias para Index */
@media (max-width: 768px) {
  main .slogan {
    font-size: 7vh; }
  main .carousel-inner {
    height: 50vh; }
  main .cajaFlyers {
    display: none; } }

@media (max-width: 438px) {
  main .slogan {
    font-size: 5vh; } }

/* medias para Catalogo */
@media (max-width: 438px) {
  main .productos {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-areas: "productoLaura" "productoCarla" "productoWendy" "productoPamela" "productoSofia" "productoPaddy" "ProductoDenise" "productoAnna" "productoMilva" "ProductoAurora" "productoElsa" "productoCharry" "productoMeryl" "productoTatiana" "productoOna" "productoMagui"; } }

@media (max-width: 768px) {
  main .productos {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    grid-template-areas: "productoLaura productoCarla" "productoWendy productoPamela" "productoSofia productoPaddy" "ProductoDenise productoAnna" "productoMilva ProductoAurora" "productoElsa productoCharry" "productoMeryl productoTatiana" "productoOna productoMagui"; } }

/* medias para Sucursales */
@media (max-width: 768px) {
  main .imgSucursales {
    display: none; } }
