main {
  .slogan {
    font-family: "Shadows Into Light", cursive;
    font-size: 400%;
    text-align: center;
    margin: 2rem;
    color: black;

    & :hover {
      color: brown;
      transition: 2s;
    }
  }

  // hay que escribir las etiquetas acá?
  .carousel-inner {
    height: 30rem;
    margin: 3rem;
    padding: 1rem;
  }

  .cajaFlyers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 20rem;
    width: 100%;

    .asesoramiento p {
      @extend %textoMediano;
    }

    .tarjeta p {
      @extend %textoMediano;
    }

    .envio p {
      @extend %textoMediano;
    }
  }
}
.btn btn-success {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet);
  --bs-btn-border-color: var(--bd-violet);
  --bs-btn-border-radius: .5rem;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
  --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
  --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}