/* medias para Footer */
@media (max-width:768px) {
    footer {
        p {
            display: none;
        }
    }
}


/* medias para Index */

@media (max-width:768px) {
    main {
        .slogan {
            font-size: $font_size_responsive_h2;
        }

        .cajaFlyers {
            display: none;
        }
    }
}

@media (max-width:438px) {
    main {
        .slogan {
            font-size: 5vh;
        }
    }
}

/* medias para Catalogo */
@media (max-width:438px) {
    main {
        .productos {
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
            grid-template-areas:
                "productoLaura"
                "productoCarla"
                "productoWendy"
                "productoPamela"
                "productoSofia"
                "productoPaddy"
                "ProductoDenise"
                "productoAnna"
                "productoMilva"
                "ProductoAurora"
                "productoElsa"
                "productoCharry"
                "productoMeryl"
                "productoTatiana"
                "productoOna"
                "productoMagui"
        }
    }
}

@media (max-width:768px) {
    main {
        .productos {
            grid-template-columns: auto auto;
            grid-template-rows: auto auto auto auto auto auto auto auto;
            grid-template-areas:
                "productoLaura productoCarla"
                "productoWendy productoPamela"
                "productoSofia productoPaddy"
                "ProductoDenise productoAnna"
                "productoMilva ProductoAurora"
                "productoElsa productoCharry"
                "productoMeryl productoTatiana"
                "productoOna productoMagui"
        }
    }
}

/* medias para Sucursales */
@media (max-width:768px) {
    main {
        .imgSucursales {
            display: none;
        }
    }
}


/* medias para quienes_somos */
@media (max-width:438px) {
    .quienesSomos {
        font-size: large;
    }
}

/* medias para error_404 */
@media (max-width:438px) {
    .main_404 {
        .productos {
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto;
            grid-template-areas:
                "productoLaura"
                "productoCarla"
                "productoWendy"
                "productoMeryl"
        }
    }
}

